/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header .original{
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-right: 30px;
	margin-bottom: 1em;
}

.projets-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	margin-right: 10px;
}

.projets-container .editionMode {
	border: none;
	background-color: white;
	color: black;
	margin-top: -30px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.modal_body {
	display: flex;
	justify-content: center;
}

.gallery_modal {
	width: 65%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px;
}

.gallery_modal img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

button {
	height: 50px;
	border-radius: 35px;
	border-color: rgb(37, 87, 74);
	color: rgb(37, 87, 74);
	background-color: white;
	padding: 5px 30px;
	font-size: larger;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
	gap: 15px;
	padding: 35px 0 50px 0;
}

.selected {
	background-color: rgb(37, 87, 74);
	color: white;
}

.loginMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalLoginContainer {
    display: block;
    width: 100vh;
    height: 50vh;
	margin-top: 115px;
}

.login {
	text-align: center;
	margin-bottom: 50px;
}

.divForm label {
    display: block;
    margin-bottom: 5px;
}

.divForm button {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 240px;
	height: 45px;
	
}

.divForm button:hover {
	background-color: #1D6154;
	color: white;
}

.divForm p {
	margin-bottom: 30px;
}

.divForm input {
	width: 350px;
	height: 40px;
	margin-bottom: 15px;
	border: none;
	-webkit-box-shadow: 0px 24px 55px -15px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 24px 55px -15px rgba(0, 0, 0, 1);
	box-shadow: 0px 24px 55px -15px rgba(0, 0, 0, 1);
}

.divForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordforgot {
	color: #1D6154;
	font-size: medium;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.passwordforgot:visited {
	color: #1D6154;
}

a {
	text-decoration: none;
}

#feedback {
	margin-top: 5px;
}

.editionMode {
	background-color: black;
	height: 50px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 0, 0, 0.5);
	display: none;
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 75%;
	background-color: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 3px;
	padding: 20px;
	z-index: 9999;
}

.modalClose {
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
	transition: 0.3s all ease-in-out;
}

.modalClose {
	width: 20px;
	height: 20px;
	border: none;
}

.modalClose:hover {
	transform: rotate(360deg);
}

.modal_header h2 {
	font-size: 30px;
}

.icon-trash {
	position: absolute;
}

.container_modal_footer {
	display: flex;
	justify-content: center;
}

.fa-pen-to-square {
	margin-right: 10px;
}

.addPhoto {
	margin-top: 40px;
}

hr {
	margin-top: 85px;
	width: 530px;
}

a:visited {
	color: black;
}

.figure {
	position: relative;
}

.trash {
	position: absolute;
	top: 0;
	right: 0;
	margin: 6px;
	cursor: pointer;
	color: white;

}

.trash-container {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: black;
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	align-items: center;
	margin: 0;
}